@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@/assets/fonts/inter/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("@/assets/fonts/inter/Inter-Italic.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("@/assets/fonts/inter/Inter-Medium.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("@/assets/fonts/inter/Inter-Bold.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("@/assets/fonts/inter/Inter-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@/assets/fonts/circular/CircularStd-Book.woff2") format("woff2");
}
@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("@/assets/fonts/circular/CircularStd-Bold.woff2") format("woff2");
}
@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("@/assets/fonts/circular/CircularStd-Black.woff2") format("woff2");
}
