@import './mixins';

:root {
	--spacing-base: 4px;
	--spacing-1x: var(--spacing-base);
	--spacing-2x: calc(var(--spacing-base) * 2);
	--spacing-3x: calc(var(--spacing-base) * 3);
	--spacing-4x: calc(var(--spacing-base) * 4);
	--spacing-5x: calc(var(--spacing-base) * 5);
	--spacing-6x: calc(var(--spacing-base) * 6);
	--spacing-7x: calc(var(--spacing-base) * 7);
	--spacing-8x: calc(var(--spacing-base) * 8);
	--spacing-9x: calc(var(--spacing-base) * 9);
	--spacing-10x: calc(var(--spacing-base) * 10);
	--spacing-12x: calc(var(--spacing-base) * 12);
	--spacing-14x: calc(var(--spacing-base) * 14);
	--spacing-16x: calc(var(--spacing-base) * 16);
	--spacing-18x: calc(var(--spacing-base) * 18);
	--spacing-20x: calc(var(--spacing-base) * 20);
	--spacing-30x: calc(var(--spacing-base) * 30);

	--width-xl: 1200px;
	--width-lg: 960px;
	--width-md: 720px;
	--width-sm: 640px;
	--width-xs: 540px;
}
@include mobile {
  :root {
    --spacing-base: 3px;
  }
}
